{% extends 'inicio.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

<style>
    .btn-volver {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: red;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    
    .btn-volver:hover {
        background-color: rgb(246, 75, 75);
    }
</style>

<h4 style="margin-bottom: 10px;">Administrador / formulario de dición de datos del partido politico</h4>

<a href="{% url 'partidos' %}" class="btn-volver">Volver</a>

<div class="card" style="margin-top: 18px;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Aquí van los campos para editar los datos del partido -->
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ partido.nombre }}" required><br><br>
        
        <label for="siglas">Siglas:</label>
        <input type="text" id="siglas" name="siglas" value="{{ partido.siglas }}" required><br><br>
        
        <label for="logo">Logo:</label>
        <input type="file" id="logo" name="logo" accept="image/*"><br><br>
        
        <button type="submit">Guardar cambios</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
{% endblock content%}