{% extends 'inicio.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

<style>
    .btn-volver {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: red;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    
    .btn-volver:hover {
        background-color: rgb(246, 75, 75);
    }
</style>

<h4 style="margin-bottom: 10px;">Administrador / formulario de dición de datos del funcionario</h4>

<a href="{% url 'adminHome' %}" class="btn-volver">Volver</a>

<div class="card" style="margin-top: 18px;">

</div>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
{% endblock content%}